@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::view-transition-old(slide) {
  animation: slideOut 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
::view-transition-new(slide) {
  animation: slideIn 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
} */

@keyframes slideIn {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-25%);
    opacity: 0;
  }
}

::selection {
  color: black;
  background: yellow;
}

pre {
  padding: 24px;
  border-radius: 16px;
  min-height: 45vh;
  max-height: 60vh;
  overflow: auto;
  @apply shadow-xl;
}

code {
  counter-reset: step;
  counter-increment: step 0;
  font-size: clamp(14px, 2vw, 20px);
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}